#answer{
    margin: 10px 10px;
}
.answerkey{
    display: inline;
    padding:10px;
    color: #fff;
    margin: 10px 5px;
    background-color: #105dd1;
}

#restartgame{
    visibility: hidden;
}

#livecountlabel{
    display: none;
}

#gamestatus{
    width: 250px;
    height: 300px;
    /* display: none; */
    background-image:url("../img/hangman/hangman0.png");
}